doctype html
html
	head 
		form(method='post', action='/list')
			h1 Username: 
			input(type='text', name='username')
			h1 ListName: 
			input(type='text', name='listName')
			h1 Status: 
			input(type='text', name='status')
			input(type='submit')