doctype html
html
	head 
		form(method='post', action='/register')
			h1 First Name: 
			input(type='text', name='firstname')
			h1 Last Name: 
			input(type='text', name='lastname')
			h1 Email: 
			input(type='text', name='email')
			h1 Username 
			input(type='text', name='username')
			h1 Password: 
			input(type='text', name='password')
			h1 College: 
			input(type='text', name='college')
			input(type='submit')