doctype html
html
	head 
		form(method='post', action='/update')
			Id: input(type='text', name='id')
			Username: input(type='text', name='username')
			ListName: input(type='text', name='listName')
			Description: input(type='text', name='description')
			Status: input(type='text', name='status')
			input(type='submit')