doctype html
html
	head 
		form(method='post', action='/update')
			h1 Id: 
			input(type='text', name='id')
			h1 Username: 
			input(type='text', name='username')
			h1 ListName: 
			input(type='text', name='listName')
			h1 Description: 
			input(type='text', name='description')
			h1 Status: 
			input(type='text', name='status')
			input(type='submit')